.profile__edit-button {
  grid-area: icon;
  padding: 0;
  width: 24px;
  height: 24px;
  object-fit: none;
  background-color: inherit;
  border: 1px solid white;
  box-sizing: border-box;
  transition: opacity 0.2s ease-in-out;
}

.profile__edit-button:hover {
  opacity: 0.6;
}

@media screen and (max-width: 619px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
  }
}