.cards__card {
  display: grid;
  max-width: 282px;
  height: 361px;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  align-items: baseline;
  grid-template-columns: 215px auto;
  grid-template-rows: 282px auto;
  gap: 25px;
  grid-template-areas: 
    "place place"
    "title like-button";
  position: relative;

  animation-name: dissolve;
  animation-duration: 0.3s;
  animation-timing-function: ease-in-out;

  transition: transform 0.3s ease-in-out;
}

@keyframes dissolve {
  0% {opacity: 0;}
  100% {opacity: 1;}
}

.cards__card:hover {
  transform: translateY(-2px);
}