.cards__place {
  grid-area: place;
  width: 282px;
  height: 282px;
  object-fit: cover;
  color: black;
  will-change: transform;
  transition: all 0.3s ease-in-out;
}

.cards__place:hover {
  transform: scale(1.01) translateY(-1.5px);
  opacity: 0.95;
}