.popup__form-item {
  padding: 0;
  min-width: 358px;
  min-height: 27px;
  border-style: none;
  color: black;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.22;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.popup__form-item:focus {
  outline: none;
}

@media screen and (max-width: 619px) {
  .popup__form-item {
    min-width: 238px;
  }
}